* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a= height: 4.5rem; footer=2rem*/
section {
    background: rgba(120, 125, 100, 0.26);
    
    
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7.5rem );
    width: 95vw;
    border-radius: 0.5rem;
}
fieldset legend {
    background: rgba(125, 125, 100, 0.85);
    color: white;
    border-radius: 0.26rem;
    text-align: center;
    margin: 0.5rem 10px 0.5rem 10px;
    padding: 1px 10px 1px 10px;
}
h1 {
    font-size: 5rem;
    font-family: lato;
    display: block;
}
iframe {
    border-radius: 0.5rem;
}